@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
    /* En Tailwind v4, usa variables CSS con prefijo -- */
    --color-primary: #455dd9;
    --color-secondary: #ffd100;
    --color-accent: #e4002b;
    --color-background: #ffffff;
    --color-accent-red: #e4002b;
    --color-accent-yellow: #ffd100;
    --color-soft-gray: #F8FAFC;
}